<div style="text-align:left;font-size:2em"><span style="font-weight:bolder;font-size:1.25em">SP2273 | Learning Portfolio</span><br><br><span style="font-weight:bold;color:darkred">Fundamentals (Good)</span></div>

# 1 There is more to if

- To select multiple things at the same time, press: command and then click what you want to select

In [ ]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')
else:
    print('Hello World!')

- elif lets you have other options in your code

In [ ]:
name = 'Batman'

if name == 'Batman':
    print('Hello Batman!')
elif name == 'Robin':
    print('Hello Sidekick!')  # Can have multiple elif blocks but may not make a good program
elif name == 'Julia':
    print('Hello Julia!')
elif name == 'Guten Morgan':
    print('Guten Morgan!')
else:
    print('Hello World!')

- If have a lot of conditions, don't want to have 100s of lines of code
- Can use a switch statement instead
- But elif is a good starting point to have more options

# 2 Asking questions

In [1]:
fruits = ['apple', 'banana', 'pineapple', 'jackfruit']
vegetables = ['celery', 'potato', 'broccoli', 'kale']

In [2]:
'apple' in fruits

True

- Code above is asking if apple is in the list of fruits

In [3]:
'peach' in fruits

False

In [4]:
'peach' not in fruits

True

In [5]:
'a' in 'apple'

True

- This can be used to see if certain letters are in apple
- But also remember it's case sensitive

In [6]:
('apple' in fruits) and ('celery' in vegetables)

True

- Can combine things using and
- But and works only if both conditions are true

In [ ]:
('apple' in fruits) or ('celery' in vegetables)

- or works if either statement is true
- This is a logical statement
- in, and, or is very powerful because it allows you to ask questions/check things

In [7]:
'a' > 10

TypeError: '>' not supported between instances of 'str' and 'int'

- Can't compare english letters & numbers

In [8]:
'apple' > 'orange'

False

- Can compare 2 things of the same type, e.g. english letters with english letters
- Python sees each letter as a number, it compares that number & tells you which is bigger -> By design, not a math truism -> Because the person who wrote the Python string/class defined a comparison operator -> It does this by taking the 1st letter & comparing

# 3 Asking Math questions

In [9]:
10 >= 3

True

In [10]:
x=3

In [11]:
x > 5 and x < 15

False

- Can combine multiple comparisons

In [ ]:
(x > 5) and (x < 15)

- More readable because use brackets, Python doesn't really care about brackets in this case

In [12]:
5 <= x < 15  # Only in Python

False

# 4 Python stores information in different formats or types

In [13]:
x = int(1.234) # A float is a function/reusable code that converts values into numbers with decimal places -> x becomes 1
print(x, type(x))

1 <class 'int'>

- Casting of x to a type (e.g. int, float etc) is called typecasting
- Output is basically saying that x is 1 & is now stored as an integer, also shows you what type of variable it is

In [14]:
x = str(1.234)
print(x, type(x))

1.234 <class 'str'>

- 1.234 is English in this case, not a number -> It's a string plus
- Can't do comparisons with this

In [15]:
x = float(1.234)
print(x, type(x))

1.234 <class 'float'>

In [16]:
x = complex(1.234)
print(x, type(x))

(1.234+0j) <class 'complex'>

- Computer languages all have different types of variables that are stored differently -> For speed, efficiency & because computer has finite resources (can't remember billions of decimals)
- Even int & float have subdivisions, e.g. can have 16, 32 or 64 bit integers -> Limits number space you have -> To maximise use of your computer
- Don't use largest number possible for every number we use because it wastes resources
- Can figure out type of variable by using the function type

# 5 Never compare floats directly

## 5.1 The Problem

In [17]:
a = 0.1
a3 = 0.3
a * 3 == a3

False

- If you multiple 0.1 (a) by 3, you should get 0.3, so by right, code should give you true
- This is cus 0.3 is not stored 0.3 -> Cus computer has limited precision
- This is a problem particularly for floats with decimal places
- So NEVER ever compare decimals

In [18]:
f'{0.3:.17f}'

'0.29999999999999999'

- Above asks Python to print 0.3 to 17 decimal places

## 5.2 A solution

In [19]:
a*3 -a3

5.551115123125783e-17

- By right should be 0 but get absurdly small number instead
- To check if something is equal, ask how close it is to that number -> Basically can compare it to see if the difference is less than a really small number
- For even more precise calculations, can go even higher (e.g. 1E-20)

In [20]:
(a*3 - a3) < 1E-10

True

In [21]:
(a*3 - a3)

5.551115123125783e-17

In [22]:
(a3 - a*3)

-5.551115123125783e-17

- Depending on your order of a3 & a*3, may get -ve/+ve number -> But mainly interested in absolute number
- So can put abs in front

In [23]:
abs(a3 - a*3) < 1E-10

True

In [24]:
np.isclose(a * 3, a3)

NameError: name 'np' is not defined

- numpy has a function for absolute number but need to import numpy package again for it to work

# 6 Combining English and variables

- There are times where you'll want to combine variables with English text (E.g. creating files automatically)

## 6.1 Structure of f-strings

In [ ]:
###

In [ ]:
name = "Batman"
print(f"Hello {name}!")

In [ ]:
### Example 2

In [ ]:
name = "Batman"
print(f"Hello {name.upper()}!")

### Example 3

In [ ]:
x = 10
print(f"The value of {x} squared is {x**2}!")

# 7 Escape sequences

# 8 Computers read = from Right to Left!

# 9 Shorter and Cleaner Code

# 10 Python can be a prima-donna.

# 11 Best Practices for Scientific Computing

# 12 Looking for help

## References

## Footnotes